html {
    font-family: 'Oswald', 'Work Sans', sans-serif;
    overflow-x: hidden;
}
   
body {
    margin:0;
}

/* Connexion */

#connexion {
    width: 95vw;
    height: 100vh;
    color: white;
    background-color: #887fbc;
    font-size: calc(1vh + 1vw);
    padding: calc(1vh + 1vw);
}

#connexion legend {
    font-size: calc(1.5vh + 1.5vw);
}

#connexion input {
    height: calc(1.2vh + 1.2vw);
    font-size: calc(1vh + 1vw);
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

#connexion #connexionButton {
    height: 6vh;
    width: 7vw;
}

@media screen and (max-width: 600px) {
    body {
        margin-top: 10vh;
    }

    #connexion {
        font-size: calc(2vh + 2vw);
    }
    
    #connexion legend {
        font-size: calc(2.5vh + 2.5vw);
    }
    
    #connexion input {
        width: 90%;
        height: calc(2.4vh + 2.4vw);
        font-size: calc(2vh + 2vw);
    }
    
    #connexion #connexionButton {
        width: 20vw;
        height: 5vh;
    }
}





/* Panneau d'administration */


#menu {
    margin: 0;
    padding: calc(0.5vh + 0.5vw);
    background-color:  #887fbc;
    font-size: calc(1.5vh + 1.5vw);
    z-index: 10;
}

#menu a {
    margin-left: calc(0.7vh + 0.7vw);
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: black;
}

#menu #nomConnexion {
    border-right: 2px solid white;
}

#menuOrdi {
    display: block;
}

#menuBurger {
    position: fixed;
    display: flex;
    top: 0;
    left: -100vw;
    transition: all 0.3s;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    width: 70vw;
    height: 100vh;
}

@media screen and (max-width: 600px){
    #menu {
        cursor: pointer;
        position:fixed;
        top: -100vh;
        left: -100vw;
        height: 8vh;
        font-size: calc(2.5vh + 2.5vw);
    }
    
    #menuOrdi {
        display: none;
    }
    
    #menu a {
        margin: 0;
        padding: 2vh;
    }
    
    #menu a:hover {
        background-color: white;
    }
    
    #menu #nomConnexion {
        border-right: none;
        color: white;
        padding: 2vh;
    }
    
    #burger {
        transition: all 0.4s;
        position: fixed;
        top: 0;
        left: 0;
        width: 10vh;
        height: 10vh;
    }
    
}









/* Listes */

.listeAddNouveau {
    margin-left: 3vw;
}

.listeAddNouveau a {
    font-size: calc(1.4vh + 1.4vw);
    color: black;
    text-decoration: underline;
}

.listeAddNouveau a:hover {
    color:  #887fbc;
}

.listeElements {
    font-size: calc(0.8vh + 0.8vw);
    font-weight: bolder;
    margin-left: 3vw;
    background-color: #acb1d8;
    padding-top: calc(0.5vh + 0.5vw);
    padding-bottom: calc(0.5vh + 0.5vw);
    padding-left: calc(1vh + 1vw);
    padding-right: calc(1vh + 1vw);
    border-bottom-left-radius: 90px;
    border-top-left-radius: 10%;
}

.listeElements:hover {
    background-color: #887fbc;
}

.listeElements a {
    color: black; 
    text-decoration: none;
}

.listeElements a:hover {
    color: white;
}

.listeElement1 {
    font-weight: normal;
    font-style: italic;
    font-size: calc(1.2vh + 1.2vw);
    margin-left: 1vw;
    margin-right: 1.5vw;
}

.listeTemoignageAcceptation {
    color: #e05151;
    margin-left: 0.5vw
}

.listeElementSupprimer {
    font-weight: bolder;
}

@media screen and (max-width: 600px){
    .listeAddNouveau a {
        font-size: calc(2vh + 2vw);
    }
    
     .listeElements {
        font-size: calc(1.5vh + 1.5vw);
        border-bottom-left-radius: 40px;
        border-top-left-radius: 10%;
    }
    
    .listeElement1 {
        font-size: calc(1.8vh + 1.8vw); 
        margin-left: 3vw;
        margin-right: 3vw;
    }
    
    .listeElementSupprimer {
        display: none;
    }
}













/* Create et Update */

.createFormulaire, .updateFormulaire {
    width: 100vw;
    padding: calc(1vh + 1vw);
    background-color: #acb1d8;
    font-size: calc(1vh + 1vw);
}

.createFormulaire legend, .updateFormulaire legend {
    font-size: calc(1.2vh + 1.2vw);
}

.createFormulaire input, .updateFormulaire input {
    width: 40%;
    font-size: calc(1vh + 1vw);
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

.createFormulaire textarea, .updateFormulaire textarea {
    resize: none;
    width: 80%;
    height: 30vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

.createFormulaire select, .updateFormulaire select {
    width: 30%;
    font-size: calc(1vh + 1vw);
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

#bouton-envoyer, #bouton-retour {
    width: 10%;
}

#contenu_id {
    z-index: 0;
    width: 90%;
}

@media screen and (max-width: 600px){
    .createFormulaire, .updateFormulaire {
        padding: 0;
        width: 100vw;
        background-color: #acb1d8;
        font-size: calc(2vh + 2vw);
    }

    .createFormulaire legend, .updateFormulaire legend {
        font-size: calc(2.4vh + 2.4vw);
    }
    
    .createFormulaire input, .updateFormulaire input {
        width: 90%;
        font-size: calc(2vh + 2vw);
    }   
    
    .createFormulaire textarea, .updateFormulaire textarea {
        resize: none;
        width: 90%;
        font-size: calc(2vh + 2vw);
    }
    
    .createFormulaire select, .updateFormulaire select {
        font-size: calc(2vh + 2vw);
        width: 90%;
    }  
    
    #bouton-envoyer, #bouton-retour {
        width: 30%;
    }
    
    #contenu_id {
        width: 10%;
    }
}






/* Detail */

.detailDonnees {
    margin-left: 5vw;
    font-size: calc(1.2vh + 1.2vw);
}

.detailDonnees img {
    max-width: 60%;
}

.detailAccepter, .detailSupprimer, .detailModifier {
    margin-left: 5vw;
    font-size: calc(1.2vh + 1.2vw);
    margin-right: 3vw;
    text-decoration: underline;
    color: black;
    background-color: #acb1d8;
    padding-top: calc(0.5vh + 0.5vw);
    padding-bottom: calc(0.5vh + 0.5vw);
    padding-left: calc(1vh + 1vw);
    padding-right: calc(1vh + 1vw);
    transition: all 0.2s;
    border-radius: 50% 20% / 10% 40%;
}

.detailAccepter:hover, .detailSupprimer:hover, .detailModifier:hover {
    background-color:  #786ec4 ;
}




/*  LOAD  */

#load {
    position:fixed;
    top:0vh;
    left:0vw;
    width: 100vw;
    height:100vh;
    z-index:500;
    background-image: linear-gradient(to left bottom, #ffffff, #e4e2ea, #c9c6d6, #b0abc1, #9790ad);
    color: white;
    font-size: 5vw;
    text-align: center;
    transition: all 1s;
}

#loading {
    width: calc(6vw + 6vh);
    margin-top: 40vh;
    animation: roll 0.5s infinite;
    transition: all 1s;
}

@keyframes roll{
    from {transform: rotate(0);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);} 
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    to  {transform: rotate(360deg);}
}











