
form {
     background-color:#FAFAFA;
     padding:10px;
     width:280px;
 }

fieldset {
     padding:0 20px 20px 20px;
     margin-bottom:10px;
     border:1px solid #12003B;
 }

legend {
     color:#12003B;
     font-weight:bold
 }

label {
     margin-top:10px;
     display:block;
 }

label.inline {
     display:inline;
     margin-right:50px;
 }

input, textarea, select, option {
    background-color: #9690ac;
 }

input, textarea, select {
     padding:3px;
     border:1px solid #12003B;
     border-radius:5px;
     width:200px;
     box-shadow:1px 1px 2px #C0C0C0 inset;
 }

select {
    margin-top:10px;
 }

input[type=radio] {
     background-color:transparent;
     border:none;
     width:10px;
 }

input[type=submit], input[type=reset], #bouton-retour {
     width:100px;
     margin-left:5px;
     box-shadow:1px 1px 1px #12003B;
     cursor:pointer;
 }













