#liste {
    list-style: none;
    width: 300px;
    text-align: center;
}

#liste a {
    text-decoration: none;
    color: black;
}

.elements-liste {
    padding: 5px;
    border-bottom: 1px black solid;
}

.bouton {
    text-decoration: none;
    color: black;
    position: fixed;
    top: 15px;
    left: 550px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    background-color:  #9690ac;
    transition: 0.2s;
}

.bouton:hover {
    padding: 13px;
    background-color: #5c5770;
    color: white;
    font-weight: 300;
}

.titre {
    text-decoration: none;
    color: black;
}