.bloc{
	display: none;
	
}
.point:hover + .bloc{
	display: block;
}
.point:hover {
  cursor: pointer;
}


svg {
    height: 100%;
    filter: drop-shadow(10px 10px 2px black);
}


#map .popup{
    position: fixed;
    top: 10%;
    left: -100vh;
    width: 80vh;
    height: 80%;    
    transition: all ease-out 0.4s;
    pointer-events: none;
}

.popup > .popup_content {
    overflow-y: hidden;
    transform: translate(-14vh, 0);
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to right, #c9c6d6, #bcb8cc, #b0abc1, #a39db7, #9790ad);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(4px 4px 3px black);
    color: white;
}

.popup_content .titre {
    width: 60%;
    margin-top: 5vh;
    margin-left: 30%;
    font-size: calc(1.2vh + 1.2vw);
}

.popup_content p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    pointer-events: all;
}

.popup_content p {
    width: 60%;
    margin-top: 3vh;
    margin-left: 30%;
    font-size: calc(0.7vh + 0.7vw);
    pointer-events: all;
}

.popup_content .getLicences {
    cursor: pointer;
    font-weight: bolder;
    pointer-events: all;
}

a{
  color: #3C2D5E;
}

.popup_licence {
    overflow-y: hidden;
    transform: translate(-14vh, 0);
    height: 100%;
    width: 90%;
    background-image: linear-gradient(to right, #c9c6d6, #bcb8cc, #b0abc1, #a39db7, #9790ad);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 3px black);
    color: white;
}

.popup_licence .titre {
    width: 60%;
    margin-top: 5vh;
    margin-left: 30%;
    font-size: calc(1vh + 1vw);
}

.popup_licence .licence_nom a {
    text-decoration: none;
    pointer-events: all;
    transition: all 0.2s;
    font-size: calc(1vh + 1vw);
    color: white;
}

.popup_licence .licence_nom a:hover {
    color: black;
}

.popup_licence p {
    width: 60%;
    margin-top: 3vh;
    margin-left: 30%;
    pointer-events: all;
}

.closePopup {
    cursor: pointer;
    font-weight: bolder;
    pointer-events: all;
}

#selectIUT {
    display: none;
    width: 100vw;
    height: 7vh;
    background-color: #9790AD;
    font-weight: bolder;
    color: white;
    border-bottom: 5px solid white;
}



@media screen and (max-width: 600px) {
    svg {
        width: 100%;
    }
    
    #map .popup {
        width: 100vw;
        height: 92vh;
        top:8vh;
        left: -100vw;
        transform: translate(14vh, 0);
    }
    
    .popup > .popup_content {
        width: 100%;
        filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
    }
    
    .popup_content .titre {
        width: 100%;
        margin-top: 5vh;
        margin-left: 0;
        margin-top: 1vh;
        font-size: calc(4vh + 4vw);
    }
    
    .popup_content p {
        width: 100%;
        margin-top: 2vh;
        margin-left: 0;
        margin-top: 0;
        font-size: calc(2vh + 2vw);
    }
    
    .popup_licence {
        width: 100%;
        left: -100vw;
        filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
    }
    
    .popup_licence .titre {
        width: 100%;
        margin-top: 5vh;
        margin-left: 0;
        margin-top: 1vh;
        font-size: calc(2.5vh + 2.5vw);
    }
    
    .popup_licence .licence_nom a {
        font-size: calc(2.5vh + 2.5vw);
        margin: 0;
    }
    
    .popup_licence p {
        width: 100%;
        margin-top: 2vh;
        margin-left: 0;
        margin-top: 0;
        font-size: calc(2vh + 2vw);
    }
    
    #selectIUT {
        display:block;
    }
}

