:root {
    --CourbePoint1: 0.5vw;
    --CourbePoint2: 0.9vw;
    --CourbePoint3: 1vw;
    --CourbePoint4: -0.5vw;
    --CourbePoint5: -0.9vw;
    --CourbePoint6: -1vw;
    
    --PointSpeed: 0s;
    --PointDelay: 0s;
    --PointCouleur: white;
    --PointBorderCouleur : white;
    --PointBorderEpaiss: 0px;
}




body{
    background: white top center no-repeat fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Oswald', 'Work Sans', sans-serif;
    text-align: center;
    color: white;
}

h1
{
    font-size: 7vh;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: normal;
    color: black;
}







@keyframes bounce_arrow{
    from {transform: translate(0, 0);}
    10% {transform: translate(0, 2px);}
    20% {transform: translate(0, 4px);}
    30% {transform: translate(0, 6px);} 
    40% {transform: translate(0, 10px);}
    50% {transform: translate(0, 12px);}
    60% {transform: translate(0, 16px);}
    70% {transform: translate(0, 22px);}
    80% {transform: translate(0, 25px);}
    90% {transform: translate(0, 5px);}
    to  {transform: translate(0, 0);}
}

@keyframes bounce_l{
    from {transform: translate(-60px, 0);}
    10% {transform: translate(-62px, 0); }
    20% {transform: translate(-64px, 0);}
    30% {transform: translate(-66px, 0);} 
    40% {transform: translate(-70px, 0);}
    50% {transform: translate(-72px, 0);}
    60% {transform: translate(-76px, 0);}
    70% {transform: translate(-72px, 0);}
    80% {transform: translate(-68px, 0);}
    90% {transform: translate(-64px, 0);}
    to  {transform: translate(-60px, 0);}
}

@keyframes bounce_d{
    from {transform: translate(60px, 0);}
    10% {transform: translate(62px, 0);}
    20% {transform: translate(64px, 0);}
    30% {transform: translate(66px, 0);} 
    40% {transform: translate(70px, 0);}
    50% {transform: translate(72px, 0);}
    60% {transform: translate(76px, 0);}
    70% {transform: translate(72px, 0);}
    80% {transform: translate(68px, 0);}
    90% {transform: translate(64px, 0);}
    to  {transform: translate(60px, 0);}
}

@keyframes roll{
    from {transform: rotate(0);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);} 
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    to  {transform: rotate(360deg);}
}

@keyframes bubble_ext{
    from {width: 8%; margin-left:0%; margin-top:0%;}
    50% {width: 4%; margin-left:2%; margin-top:2%;}
    to  {width: 8%; margin-left:0%; margin-top:0%;}
}

@keyframes bubble_in{
    from {width: 8%; margin-left:0%; margin-top:0%;}
    50% {width: 3%; margin-left:2.5%; margin-top:2.5%;}
    to  {width: 8%; margin-left:0%; margin-top:0%;}
}

@keyframes bubble {
    0% {
        transform: translate(0, 0vh);
        opacity:1;
    }
    1% {
        transform: translate(var(--CourbePoint1), -1vh);
        opacity:1;
    }
    2% {
        transform: translate(var(--CourbePoint2), -2vh);
        opacity:1;
    }
    3% {
        transform: translate(var(--CourbePoint3), -3vh);
        opacity:1;
    }
    4% {
        transform: translate(var(--CourbePoint2), -4vh);
        opacity:1;
    }
    5% {
        transform: translate(var(--CourbePoint1), -5vh);
        opacity:1;
    }
    6% {
        transform: translate(0, -6vh);
        opacity:1;
    }
    7% {
        transform: translate(var(--CourbePoint4), -7vh);
        opacity:1;
    }
    8% {
        transform: translate(var(--CourbePoint5), -8vh);
        opacity:1;
    }
    9% {
        transform: translate(var(--CourbePoint6), -9vh);
        opacity:1;
    }
    10% {
        transform: translate(var(--CourbePoint5), -10vh);
        opacity:1;
    }
    11% {
        transform: translate(var(--CourbePoint4), -11vh);
        opacity:1;
    }
    12% {
        transform: translate(0, -12vh);
        opacity:1;
    }
    13% {
        transform: translate(var(--CourbePoint1), -13vh);
        opacity:1;
    }
    14% {
        transform: translate(var(--CourbePoint2), -14vh);
        opacity:1;
    }
    15% {
        transform: translate(var(--CourbePoint3), -15vh);
        opacity:1;
    }
    16% {
        transform: translate(var(--CourbePoint2), -16vh);
        opacity:1;
    }
    17% {
        transform: translate(var(--CourbePoint1), -17vh);
        opacity:1;
    }
    18% {
        transform: translate(0, -18vh);
        opacity:1;
    }
    19% {
        transform: translate(var(--CourbePoint4), -19vh);
        opacity:1;
    }
    20% {
        transform: translate(var(--CourbePoint5), -20vh);
        opacity:1;
    }
    21% {
        transform: translate(var(--CourbePoint6), -21vh);
        opacity:1;
    }
    22% {
        transform: translate(var(--CourbePoint5), -22vh);
        opacity:1;
    }
    23% {
        transform: translate(var(--CourbePoint4), -23vh);
        opacity:1;
    }
    24% {
        transform: translate(0, -24vh);
        opacity:1;
    }
    25% {
        transform: translate(var(--CourbePoint1), -25vh);
        opacity:1;
    }
    26% {
        transform: translate(var(--CourbePoint2), -26vh);
        opacity:1;
    }
    27% {
        transform: translate(var(--CourbePoint3), -27vh);
        opacity:1;
    }
    28% {
        transform: translate(var(--CourbePoint2), -28vh);
        opacity:1;
    }
    29% {
        transform: translate(var(--CourbePoint1), -29vh);
        opacity:1;
    }
    30% {
        transform: translate(0, -30vh);
        opacity:1;
    }
    31% {
        transform: translate(var(--CourbePoint4), -31vh);
        opacity:1;
    }
    32% {
        transform: translate(var(--CourbePoint5), -32vh);
        opacity:1;
    }
    33% {
        transform: translate(var(--CourbePoint6), -33vh);
        opacity:1;
    }
    34% {
        transform: translate(var(--CourbePoint5), -34vh);
        opacity:1;
    }
    35% {
        transform: translate(var(--CourbePoint4), -35vh);
        opacity:1;
    }
    36% {
        transform: translate(0, -36vh);
        opacity:1;
    }
    37% {
        transform: translate(var(--CourbePoint1), -37vh);
        opacity:1;
    }
    38% {
        transform: translate(var(--CourbePoint2), -38vh);
        opacity:1;
    }
    39% {
        transform: translate(var(--CourbePoint3), -39vh);
        opacity:1;
    }
    40% {
        transform: translate(var(--CourbePoint2), -40vh);
        opacity:1;
    }
    41% {
        transform: translate(var(--CourbePoint1), -41vh);
        opacity:1;
    }
    42% {
        transform: translate(0, -42vh);
        opacity:1;
    }
    43% {
        transform: translate(var(--CourbePoint4), -43vh);
        opacity:1;
    }
    44% {
        transform: translate(var(--CourbePoint5), -44vh);
        opacity:1;
    }
    45% {
        transform: translate(var(--CourbePoint6), -45vh);
        opacity:1;
    }
    46% {
        transform: translate(var(--CourbePoint5), -46vh);
        opacity:1;
    }
    47% {
        transform: translate(var(--CourbePoint4), -47vh);
        opacity:1;
    }
    48% {
        transform: translate(0, -48vh);
        opacity:1;
    }
    49% {
        transform: translate(var(--CourbePoint1), -49vh);
        opacity:1;
    }
    50% {
        transform: translate(var(--CourbePoint2), -50vh);
        opacity:1;
    }
    51% {
        transform: translate(var(--CourbePoint3), -51vh);
        opacity:1;
    }
    52% {
        transform: translate(var(--CourbePoint2), -52vh);
        opacity:1;
    }
    53% {
        transform: translate(var(--CourbePoint1), -53vh);
        opacity:1;
    }
    54% {
        transform: translate(0, -54vh);
        opacity:1;
    }
    55% {
        transform: translate(var(--CourbePoint4), -55vh);
        opacity:1;
    }
    56% {
        transform: translate(var(--CourbePoint5), -56vh);
        opacity:1;
    }
    57% {
        transform: translate(var(--CourbePoint6), -57vh);
        opacity:1;
    }
    58% {
        transform: translate(var(--CourbePoint5), -58vh);
        opacity:1;
    }
    59% {
        transform: translate(var(--CourbePoint4), -59vh);
        opacity:1;
    }
    60% {
        transform: translate(0, -60vh);
        opacity:1;
    }
    61% {
        transform: translate(var(--CourbePoint1), -61vh);
        opacity:1;
    }
    62% {
        transform: translate(var(--CourbePoint2), -62vh);
        opacity:1;
    }
    63% {
        transform: translate(var(--CourbePoint3), -63vh);
        opacity:1;
    }
    64% {
        transform: translate(var(--CourbePoint2), -64vh);
        opacity:1;
    }
    65% {
        transform: translate(var(--CourbePoint1), -65vh);
        opacity:1;
    }
    66% {
        transform: translate(0, -66vh);
        opacity:1;
    }
    67% {
        transform: translate(var(--CourbePoint4), -67vh);
        opacity:1;
    }
    68% {
        transform: translate(var(--CourbePoint5), -68vh);
        opacity:1;
    }
    69% {
        transform: translate(var(--CourbePoint6), -69vh);
        opacity:1;
    }
    70% {
        transform: translate(var(--CourbePoint5), -70vh);
        opacity:1;
    }
    71% {
        transform: translate(var(--CourbePoint4), -71vh);
        opacity:1;
    }
    72% {
        transform: translate(0, -72vh);
        opacity:1;
    }
    73% {
        transform: translate(var(--CourbePoint1), -73vh);
        opacity:1;
    }
    74% {
        transform: translate(var(--CourbePoint2), -74vh);
        opacity:1;
    }
    75% {
        transform: translate(var(--CourbePoint3), -75vh);
        opacity:1;
    }
    76% {
        transform: translate(var(--CourbePoint2), -76vh);
        opacity:1;
    }
    77% {
        transform: translate(var(--CourbePoint1), -77vh);
        opacity:1;
    }
    78% {
        transform: translate(0, -78vh);
        opacity:1;
    }
    79% {
        transform: translate(var(--CourbePoint4), -79vh);
        opacity:1;
    }
    80% {
        transform: translate(var(--CourbePoint5), -80vh);
        opacity:1;
    }
    81% {
        transform: translate(var(--CourbePoint6), -81vh);
        opacity:0.95;
    }
    82% {
        transform: translate(var(--CourbePoint5), -82vh);
        opacity:0.90;
    }
    83% {
        transform: translate(var(--CourbePoint4), -83vh);
        opacity:0.85;
    }
    84% {
        transform: translate(0, -84vh);
        opacity:0.80;
    }
    85% {
        transform: translate(var(--CourbePoint1), -85vh);
        opacity:0.75;
    }
    86% {
        transform: translate(var(--CourbePoint2), -86vh);
        opacity:0.70;
    }
    87% {
        transform: translate(var(--CourbePoint3), -87vh);
        opacity:0.65;
    }
    88% {
        transform: translate(var(--CourbePoint2), -88vh);
        opacity:0.60;
    }
    89% {
        transform: translate(var(--CourbePoint1), -89vh);
        opacity:0.55;
    }
    90% {
        transform: translate(0, -90vh);
        opacity:0.50;
    }
    91% {
        transform: translate(var(--CourbePoint4), -91vh);
        opacity:0.45;
    }
    92% {
        transform: translate(var(--CourbePoint5), -92vh);
        opacity:040;
    }
    93% {
        transform: translate(var(--CourbePoint6), -93vh);
        opacity:0.35;
    }
    94% {
        transform: translate(var(--CourbePoint5), -94vh);
        opacity:0.30;
    }
    95% {
        transform: translate(var(--CourbePoint4), -95vh);
        opacity: 0.25;
    }
    96% {
        transform: translate(0, -96vh);
        opacity:0.20;
    }
    97% {
        transform: translate(var(--CourbePoint1), -97vh);
        opacity:0.15;
    }
    98% {
        transform: translate(var(--CourbePoint2), -98vh);
        opacity:0.1;
    }
    99% {
        transform: translate(var(--CourbePoint3), -99vh);
        opacity:0.05;
    }
    100% {
        transform: translate(0, 100vh);
        opacity: 0;
    }
}




@-webkit-keyframes bounce { 
  0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.703, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, -64.239, 0, 0, 1); transform: matrix3d(0.703, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, -64.239, 0, 0, 1); }
  4% { -webkit-transform: matrix3d(0.748, 0, 0, 0, 0, 0.748, 0, 0, 0, 0, 1, 0, -56.803, 0, 0, 1); transform: matrix3d(0.748, 0, 0, 0, 0, 0.748, 0, 0, 0, 0, 1, 0, -56.803, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, -22.921, 0, 0, 1); transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, -22.921, 0, 0, 1); }
  7.91% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, -11.129, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, -11.129, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 8.846, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 8.846, 0, 0, 1); }
  11.91% { -webkit-transform: matrix3d(1.153, 0, 0, 0, 0, 1.153, 0, 0, 0, 0, 1, 0, 18.941, 0, 0, 1); transform: matrix3d(1.153, 0, 0, 0, 0, 1.153, 0, 0, 0, 0, 1, 0, 18.941, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 25.029, 0, 0, 1); transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 25.029, 0, 0, 1); }
  15.82% { -webkit-transform: matrix3d(1.15, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 27.582, 0, 0, 1); transform: matrix3d(1.15, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 27.582, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 26.239, 0, 0, 1); transform: matrix3d(1.12, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 26.239, 0, 0, 1); }
  20.42% { -webkit-transform: matrix3d(1.055, 0, 0, 0, 0, 1.055, 0, 0, 0, 0, 1, 0, 19.618, 0, 0, 1); transform: matrix3d(1.055, 0, 0, 0, 0, 1.055, 0, 0, 0, 0, 1, 0, 19.618, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 16.942, 0, 0, 1); transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 16.942, 0, 0, 1); }
  24.92% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 5.936, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 5.936, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.969, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 5.094, 0, 0, 1); transform: matrix3d(0.969, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 5.094, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.948, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, -3.291, 0, 0, 1); transform: matrix3d(0.948, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, -3.291, 0, 0, 1); }
  29.53% { -webkit-transform: matrix3d(0.949, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, -4.03, 0, 0, 1); transform: matrix3d(0.949, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, -4.03, 0, 0, 1); }
  34.03% { -webkit-transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, -6.926, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, -6.926, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, -6.117, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, -6.117, 0, 0, 1); }
  43.14% { -webkit-transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, -1.465, 0, 0, 1); transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, -1.465, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, -0.593, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, -0.593, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 1.739, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 1.739, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0.642, 0, 0, 1); transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0.642, 0, 0, 1); }
  70.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.437, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.437, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.296, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.296, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.11, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.11, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.101, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.101, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes bounce { 
  0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.703, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, -64.239, 0, 0, 1); transform: matrix3d(0.703, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, -64.239, 0, 0, 1); }
  4% { -webkit-transform: matrix3d(0.748, 0, 0, 0, 0, 0.748, 0, 0, 0, 0, 1, 0, -56.803, 0, 0, 1); transform: matrix3d(0.748, 0, 0, 0, 0, 0.748, 0, 0, 0, 0, 1, 0, -56.803, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, -22.921, 0, 0, 1); transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, -22.921, 0, 0, 1); }
  7.91% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, -11.129, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, -11.129, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 8.846, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 8.846, 0, 0, 1); }
  11.91% { -webkit-transform: matrix3d(1.153, 0, 0, 0, 0, 1.153, 0, 0, 0, 0, 1, 0, 18.941, 0, 0, 1); transform: matrix3d(1.153, 0, 0, 0, 0, 1.153, 0, 0, 0, 0, 1, 0, 18.941, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 25.029, 0, 0, 1); transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 25.029, 0, 0, 1); }
  15.82% { -webkit-transform: matrix3d(1.15, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 27.582, 0, 0, 1); transform: matrix3d(1.15, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 27.582, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 26.239, 0, 0, 1); transform: matrix3d(1.12, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 26.239, 0, 0, 1); }
  20.42% { -webkit-transform: matrix3d(1.055, 0, 0, 0, 0, 1.055, 0, 0, 0, 0, 1, 0, 19.618, 0, 0, 1); transform: matrix3d(1.055, 0, 0, 0, 0, 1.055, 0, 0, 0, 0, 1, 0, 19.618, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 16.942, 0, 0, 1); transform: matrix3d(1.035, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 16.942, 0, 0, 1); }
  24.92% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 5.936, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 5.936, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.969, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 5.094, 0, 0, 1); transform: matrix3d(0.969, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 5.094, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.948, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, -3.291, 0, 0, 1); transform: matrix3d(0.948, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, -3.291, 0, 0, 1); }
  29.53% { -webkit-transform: matrix3d(0.949, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, -4.03, 0, 0, 1); transform: matrix3d(0.949, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, -4.03, 0, 0, 1); }
  34.03% { -webkit-transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, -6.926, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, -6.926, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, -6.117, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, -6.117, 0, 0, 1); }
  43.14% { -webkit-transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, -1.465, 0, 0, 1); transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, -1.465, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, -0.593, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, -0.593, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 1.739, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 1.739, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0.642, 0, 0, 1); transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0.642, 0, 0, 1); }
  70.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.437, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.437, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.296, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, -0.296, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.11, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.11, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.101, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.101, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}



@-webkit-keyframes close { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.15% { -webkit-transform: matrix3d(0.589, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.589, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(0.297, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.297, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.46% { -webkit-transform: matrix3d(0.158, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.158, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.125, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.125, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.16% { -webkit-transform: matrix3d(0.183, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.183, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.72% { -webkit-transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.9% { -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.15% { -webkit-transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.3% { -webkit-transform: matrix3d(0.038, 0.196, 0, 0, -1.964, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.038, 0.196, 0, 0, -1.964, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.83% { -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -2, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.006, 0.2, 0, 0, -2, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.46% { -webkit-transform: matrix3d(-0.016, 0.199, 0, 0, -1.994, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.016, 0.199, 0, 0, -1.994, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.61% { -webkit-transform: matrix3d(-0.029, 0.198, 0, 0, -1.979, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.029, 0.198, 0, 0, -1.979, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.16% { -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.99% { -webkit-transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.72% { -webkit-transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.9% { -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.3% { -webkit-transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.83% { -webkit-transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.61% { -webkit-transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.16% { -webkit-transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.99% { -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.72% { -webkit-transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.83% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.99% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes close { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.15% { -webkit-transform: matrix3d(0.589, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.589, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(0.297, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.297, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.46% { -webkit-transform: matrix3d(0.158, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.158, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.125, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.125, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.16% { -webkit-transform: matrix3d(0.183, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.183, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.72% { -webkit-transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.9% { -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.15% { -webkit-transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.3% { -webkit-transform: matrix3d(0.038, 0.196, 0, 0, -1.964, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.038, 0.196, 0, 0, -1.964, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.83% { -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -2, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.006, 0.2, 0, 0, -2, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.46% { -webkit-transform: matrix3d(-0.016, 0.199, 0, 0, -1.994, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.016, 0.199, 0, 0, -1.994, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.61% { -webkit-transform: matrix3d(-0.029, 0.198, 0, 0, -1.979, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.029, 0.198, 0, 0, -1.979, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.16% { -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.99% { -webkit-transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.72% { -webkit-transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.9% { -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.3% { -webkit-transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.83% { -webkit-transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.61% { -webkit-transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.16% { -webkit-transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.99% { -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.72% { -webkit-transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.83% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.99% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}



@-webkit-keyframes speed { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); }
  3.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); }
  6.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); }
  9.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); }
  12.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); }
  12.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); }
  19.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); }
  31.43% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); }
  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes speed { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); }
  3.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); }
  6.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); }
  9.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); }
  12.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); }
  12.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); }
  19.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); }
  31.43% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); }
  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@-webkit-keyframes speedBack { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -43.454, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -43.454, 0, 0, 1); }
  6.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -70.138, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -70.138, 0, 0, 1); }
  9.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -85.503, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -85.503, 0, 0, 1); }
  12.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -93.601, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -93.601, 0, 0, 1); }
  12.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -93.784, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -93.784, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -99.647, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -99.647, 0, 0, 1); }
  19.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -99.757, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -99.757, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, -100.576, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, -100.576, 0, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -100.577, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -100.577, 0, 0, 1); }
  31.43% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, -100.398, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, -100.398, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -100.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -100.002, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -99.999, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -99.999, 0, 0, 1); }
  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); } 
}

@keyframes speedBack { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -43.454, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.442, 1, 0, 0, 0, 0, 1, 0, -43.454, 0, 0, 1); }
  6.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -70.138, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.571, 1, 0, 0, 0, 0, 1, 0, -70.138, 0, 0, 1); }
  9.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -85.503, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.49, 1, 0, 0, 0, 0, 1, 0, -85.503, 0, 0, 1); }
  12.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -93.601, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.347, 1, 0, 0, 0, 0, 1, 0, -93.601, 0, 0, 1); }
  12.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -93.784, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.342, 1, 0, 0, 0, 0, 1, 0, -93.784, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -99.647, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.109, 1, 0, 0, 0, 0, 1, 0, -99.647, 0, 0, 1); }
  19.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -99.757, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.101, 1, 0, 0, 0, 0, 1, 0, -99.757, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, -100.576, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, -100.576, 0, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -100.577, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, -100.577, 0, 0, 1); }
  31.43% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, -100.398, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.025, 1, 0, 0, 0, 0, 1, 0, -100.398, 0, 0, 1); }
  56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -100.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -100.002, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -99.999, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -99.999, 0, 0, 1); }
  81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1); } 
}


@-webkit-keyframes splat { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  2.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); }
  3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); }
  3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); }
  4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); }
  5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); }
  5.76% { -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); }
  7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); }
  7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); }
  8.68% { -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); }
  10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); }
  10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); }
  11.53% { -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); }
  12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); }
  14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); }
  14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); }
  19.23% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); }
  20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); }
  23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); }
  25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); }
  26.94% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); }
  31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); }
  31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); }
  37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); }
  38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); }
  42.35% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); }
  48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); }
  57.77% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes splat { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  2.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); }
  3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); }
  3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); }
  4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); }
  5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); }
  5.76% { -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); }
  7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); }
  7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); }
  8.68% { -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); }
  10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); }
  10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); }
  11.53% { -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); }
  12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); }
  14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); }
  14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); }
  19.23% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); }
  20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); }
  23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); }
  25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); }
  26.94% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); }
  31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); }
  31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); }
  37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); }
  38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); }
  42.35% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); }
  48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); }
  57.77% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}










.bubble {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--PointCouleur);
    border: var(--PointBorderEpaiss) var(--PointBorderCouleur) solid;
    position: fixed;
    top: 100vh;
    transition: all 1s;
    animation-name: bubble;
    animation-duration: var(--PointSpeed);
}

#bub1 {
    left: 15vw;
    filter: brightness(1);
    
}



@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 6vh;
    }
    
    h2 {
        font-size: 3vh;
    }
    
    .texte {
        font-size: 3vh;
        margin: 10px;
    }
}




#load {
    position:fixed;
    top:0vh;
    left:0vw;
    width: 100vw;
    height:100vh;
    z-index:500;
    background-image: linear-gradient(to left bottom, #ffffff, #e4e2ea, #c9c6d6, #b0abc1, #9790ad);
    color: white;
    font-size: 5vw;
    text-align: center;
    transition: all 1s;
}

#loading {
    width: calc(6vw + 6vh);
    margin-top: 40vh;
    animation: roll 0.5s infinite;
    transition: all 1s;
}





#menu {
    position: fixed;
    left: 95vw;
    top: 0;
    height: 50vh;
    width: 3.5vw;
    z-index: 10;
    padding: 0;
    transition: all 0.7s;
}

#navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation > li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all ease-out 0.5s;
}

#navigation li img {
    width: 100%;
    float: left;
    transition: all 0.1s;
}

#navigation li img:hover {
    filter: brightness(2) invert(1);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 7vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 70% 10% / 10% 70%;
    padding: 7px 0;
    
    
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 105%;
}

#carousel .tooltiptext {
    position: fixed;
    z-index: 1;
}

#liste_articles .tooltip {
    display: inherit;
}

#liste_articles .tooltiptext {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    font-size: calc(1vh + 1vw);
    height: auto;
    border-radius: 0 0 / 0 0 ;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


@media screen and (max-width: 600px) {
    #menu {
        top: 0;
        left:0;
        width: 100vw;
        height: 1vh;
    }
    
    #navigation {
        display: flex;
        flex-direction: row;
    }
    
    #navigation > li {
        width: 20vw;
        height: 8vh;
    }
    
    #navigation li img {
        height: 100%;
        float: left;
        transition: all 0.1s;
    }
    
    .tooltiptext {
        display: none;
    }
    
    #navigation li img:hover {
        filter: brightness(1) invert(0);
    }
}









.texte {
    font-size: 3vh;
    margin: 20px;
    color: black;   
}

.media {
    object-fit: cover;
    width: 100%;
    height:100%;
}

#BG {
    position: fixed;
    top: -50px;
    left:0;
    background-position: bottom;
    height: 110vh;
}

#BGMobile {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    background-size: 100%;
    background-image: url(../images/baieVitree.jpg);
}

.bg_back {
    overflow: hidden;
    position: fixed;
    top:0;
    left:-5vw;
    width: 110vw;
    height:110vh;
    object-fit: cover;
}

.bg_int {
    overflow: hidden;
    position: fixed;
    top:0;
    left:-5vw;
    width: 110vw;
    height:110vh;
    object-fit: cover;
    filter: drop-shadow(1px 1px 0px grey) drop-shadow(-1px -1px 0px grey) drop-shadow(-1px 1px 0px grey) drop-shadow(1px -1px 0px grey) brightness(100%);
}

.bg_bord {
    overflow: hidden;
    position: fixed;
    top:0;
    left:-5vw;
    width: 110vw;
    height:110vh;
    object-fit: cover;
    filter: drop-shadow(1px 1px 0px  #dfdfdf ) drop-shadow(-1px -1px 0px  #dfdfdf ) drop-shadow(-1px 1px 0px  #dfdfdf ) drop-shadow(1px -1px 0px white) brightness(100%);
}

.bg_coin {
    overflow: hidden;
    position: fixed;
    top:0;
    left:-5vw;
    width: 110vw;
    height:110vh;
    object-fit: cover;
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px -1px 0px white) drop-shadow(-1px 1px 0px white) drop-shadow(1px -1px 0px white) brightness(100%);
}

.bg_let {
    overflow: hidden;
    position: fixed;
    top:0;
    left:-5vw;
    width: 110vw;
    height:110vh;
    object-fit: cover;
    filter: brightness(2.5);
    
}

@media screen and (max-width: 600px){
    .bubble {
        display: none;
        object-fit: fill;
    }
    
    #BG {
        display: none;
    }
    
    #BGMobile {
        display: block;
    }
}
    
    
    
    




#titre {
    color: white;
}

#slogan {
    color: white;
    text-shadow: black 1px 2px;;
}

#titreSlide1 {
    color: black;
    position: absolute;
}

#titreSlide2 {
    margin: 0;
}

#fleche {
    width: 60px;
    margin-top: 60vh;
    animation: bounce_arrow 1s ease infinite;
    filter: invert(1);
    transition: all 1s;
    z-index: 5;
    cursor: pointer;
}

.slides {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: 100%;
}

#slide0 {
    z-index: 2;
    transition: background 1s;
}

#slide1 {
    z-index: 3;
    background-image: linear-gradient(to right, #ffffff, #e4e2ea, #c9c6d6, #b0abc1, #9790ad);
}

#slide2 {
    z-index: 0;
    background-color: white;
}

#slide3 {
    z-index: 3;
    background-image: radial-gradient(circle, #ffffff, #e4e2ea, #c9c6d6, #b0abc1, #9790ad);
}

#slide4 {
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
}

@media screen and (max-width: 600px) {
    .slides {
        height: 92vh;
        top: 8vh;
    }
    
    #titreSlide1 {
        margin-top: 10vh;
        font-size: 4vh; 
    }
    
    #titreSlide2 {
        display: none;
    }
    
    #fleche {
        margin-top: 50vh;
    }
}

















/* Carrousel */


#carousel {
    margin:0;
    padding:0;
    text-align: center;
}

.car_ele {
    float:left;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    background-color: white;
}

.tem_pack {
    margin:0;
    padding:0;
    height: 70vh;
    margin-right: 15vw;
    margin-left: 15vw;
    display: flex;
    flex-direction: row;
    list-style: none; 
}

.tem_main {
    position: relative;
    margin:0;
    padding:0;
    margin:0; 
    width: 100%;
    box-shadow: inset 0px 0px 100px 50px white;
}

.tem_tit {
    position: absolute;
    color: black;
    text-shadow: 2px 2px 2px white;
    font-size: 4vw;
    width: 100%;
    margin-left:0;
}

.tem_tit_slot {
    font-size: 4vw;
    margin-left:0;
    opacity: 0;
}

.tem_aut {
    position: absolute;
    color: black; 
    text-shadow: 2px 2px 2px white;
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 21%;
}

.tem_date {
    position: absolute;
    color: black; 
    text-shadow: 2px 2px 2px white;
    font-size: 1.5vw;
    margin-left: 10%;
    margin-top: 25%;
}

.tem_pic {
    float: right;
    width: 50%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 20% / 50%;
}

.tem_cont {
    background-color: white;
    color: black;
    cursor:pointer;
    display:none;
    position:absolute;
    text-align:center;
    width:70vw;
    height: 80vh;
    z-index:10;
    overflow-y:auto;
}

.tem_cont::-webkit-scrollbar { width: 0 !important }

.tem_cont p {
    display:inline-block;
    vertical-align: middle;
    margin: 5vw;
    text-align: center;
    font-size: 200%;
}

.tem_cont iframe{
    width: 100vw;
}

.tem_cont img {
    width: 100%;
}

#carousel_arrow {
    list-style: none; 
}

.carousel-prev {
    cursor:pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; 
    height: 100%; 
    z-index: 10;
}

.carousel-next {
    cursor:pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%; 
    height: 100%; 
    z-index: 10;
}

.popup_trigger {
    cursor:pointer;
    position: fixed;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 60%;
    z-index: 9;
}

button {
    display: none;
}

.fleche_l {
    position: absolute;
    transform: rotate(90deg);
    width: 4vw;
    height:4vw;
    margin-top: 15%;
    animation: bounce_l 1s ease infinite;
}

.fleche_d {
    position: absolute;
    transform: rotate(-90deg);
    width: 4vw;
    height:4vw;
    margin-top: 15%;
    margin-left: 68%;
    animation: bounce_d 1s ease infinite;
}


@media screen and (max-width: 600px) {
    .car_ele {
        width:100vw; 
    }
    
    .fleche_l {
        display: none;
    }
    
    .fleche_d {
        display: none;
    }
    
    .tem_pack {
        width: 100vw;
        margin:0;
    }
    
    .tem_tit {
        font-size: 4vh;
        position: relative;
        margin-bottom: -8vh;
    }
    
    .tem_aut {
        position: relative;
        margin:0;
        font-size: 25px;
    }
    
    .tem_date {
        margin:0;
        position: relative;
        font-size: 25px;
    }
    
    .tem_pic {
        position: relative;
        width: 100%;
        margin: 0;
    }
    
    .tem_cont {
        width: 100vw;
        height:105vh;
        font-size: 3vw;
        overflow: scroll;
    }
    
    .carousel-prev {
        left: 0;
        width: 25%; 
        height: 100%;
    }

    .carousel-next {
        right: 0;
        width: 25%; 
        height: 100%; 
    }

    .popup_trigger {
        left: 25%;
        width: 50%;
        height: 60%;
    }
}






/* Poster témoignage */ 

#poster_temoignage {
    color: black;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#poster_tem {
    position: fixed;
    left: 20%;
    top: 5%;
    width: 50%;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    color: black;
    z-index: 30;
    opacity: 0;
    background-color: #e5defa;
    pointer-events: none;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 2vh;
    border-radius: 70% 10% / 10% 70%;
}

#poster_tem #p_titreTemoignage_id {
    width: 30%; 
}

#poster_tem legend {
    font-size: 20px;
    padding: 0.5vh;
}

#poster_tem #p_contenuTemoignage {
    resize: none;
    font-family: 'Oswald', 'Work Sans', sans-serif;
    overflow-y: scroll;
    width: 100%;
    height: 30vh;
}

#poster_tem input {
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

#poster_tem select {
    font-family: 'Oswald', 'Work Sans', sans-serif;
}

#closePopupPost {
    cursor: pointer;
}

#closePopupPost img {
    width: 3vh;
    padding: 1%;
    float:right;
}

#assombrissement {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    pointer-events: none;
    z-index: 11;
    opacity: 0;
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    
    #poster_tem {
        top: 8vh;
        left: 0;
        width: 90vw;
        height: 92vh;
        border-radius: 0;
        margin: auto;
    }
    
    #poster_tem_form {
        float: left;
        padding: 0;
    }
    
    #poster_tem #p_contenuTemoignage {
        width: 100%;
    }
    
    #assombrissement {
        display: none;
    }
}







/* Articles */

#liste_articles {
    list-style: none;
    padding: 0;
    margin: none;
}

.article {
    width: 100vw;
    height: 100vh;
    padding: 2vh;
    text-align: left;
}

.article .artHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    height: 10vh;
    width: 100%;
}

.article .nomArticle {
    font-size: 2vw;
    position:absolute;
    color: white;
}

.article .contenu_article {
    padding: 20px;
    margin-bottom: 2vh;
    background-color: white;
    color: black;
    height: 75%;
    width: 90%;
    overflow-y: scroll;
    transition: all 0.3s;
    cursor: pointer;
}

.article .contenu_article img {
    max-width: 80%;
}

.InfosNext {
    display: block;
    cursor: pointer;
    margin-left: 60%;
    width: 20%;
    font-size: 1vw;
    transition: all 0.2s;

}

.InfosNext:hover {
    text-shadow: 1px 1px 0px white;
}

.InfosPrev {
    display: block;
    cursor: pointer;
    width: 20%;
    font-size: 1vw;
    transition: all 0.2s;
}

.InfosPrev:hover {
    text-shadow: 1px 1px 0px white;
}

#switcher {
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: -160vh;
    left:0;
    z-index: 10000;
    transition: top 1s, background 0.5s;
}

#selectArt {
    float:left;
    width: 20vw;
    height: 4vh;
    background-color: white;
    font-weight: bold;
}

#PPN {
    font-weight: bolder;
    font-size: 1vw;
    color: black;
    text-decoration: none;
    margin-left: 5vw;
    padding-bottom: 2vh;
}

#optionPPN {
    background-color: #779f2b;
}

#pdfPPN {
    margin: 0;
    width: 95%;
    height: 80%;
}

@media screen and (max-width: 600px){
    #liste_articles {
        margin-top: 0;
    }
    
    .article {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .InfosNext {
        display: none;
    }
    
    .InfosPrev {
        display: none;
    }
    
    .article .artHeader {
        flex-direction: column;
        margin-bottom: 0;
        height: 7vh;
    }
    
    .article .contenu_article {
        padding: 0;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-bottom: 0vh;
        width: 100%;
        text-align: center;
    }
    
    .article .nomArticle {
        width: 100vw;
        height: 5vh;
        font-size: 3vh;
        font-weight: bolder;
    }
    
    #selectArt {
        float: none;
        width: 100vw;
        height: 7vh;
    }
    
    #pdfPPN {
        width: 100%;
        height: 75%;
    }
}



    
    
    
    
    
/* Twitter */ 

#twitter {
    width: 100%;
    height: 100%;
    margin-left: 10%;
}




/* Twitter */ 

#twitter {
    width: 100%;
    height: 100%;
    margin-left: 10%;
}






@media screen and (min-width: 600px) {

    /**
     * Animations
     */

    .fromTopIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0,0);
        opacity: 1.0;
    }

    .fromTopOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0,-50px);
        opacity: 0.0;
    }

    .fromBottomIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0,0);
        opacity: 1.0;
    }

    .fromBottomOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0, 300px);
        opacity: 0.0;
    }

    .fromLeftIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(5%,0);
        opacity: 1.0;
    }

    .fromLeftOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0,0);
        opacity: 0.0;
    }

    .fromRightIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(0,0);
        opacity: 1.0;
    }

    .fromRightOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(200px, 0);
        opacity: 0.0;
    }





    .fromRightBisIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(-300px,0);
        opacity: 1.0;
    }

    .fromRightBisOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: translate(100px, 0);
        opacity: 0.0;
    }





    .scaleUpIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: scale(1.0,1.0);
        opacity: 1.0;
    }

    .scaleUpOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: scale(1.3,1.3);
        opacity: 1.0;
    }

    .scaleDownIn
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: scale(1.0,1.0);
        opacity: 1.0;
    }

    .scaleDownOut
    {
        transition: transform 1.0s ease, opacity 1.0s ease;

        transform: scale(0.7,0.7);
        opacity: 0.0;
    }
}